.product-item {
    background-color: rgba(255, 255, 255, 0.1); /* Lighter background for dark theme */
    color: #FFFFFF; /* Light text color */
    border: 1px solid #444; /* Border color for dark theme */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2); /* Shadow color for dark theme */
}

.product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
}

.product-item img:hover {
    transform: scale(1.05);
}

.product-item-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-item-description {
    font-size: 0.9em;
}



@media (max-width: 768px) {
    .products-list {
        grid-template-columns: 1fr;
    }
}
